{"openapi":"3.0.0","paths":{"/v1/series/interest-rate":{"get":{"operationId":"SeriesController_interestRatesTable","parameters":[],"responses":{"200":{"description":""}},"summary":"Table of current rates: NBP, WIBOR, POLSTR (all indicators)","tags":["Time series"]}},"/v1/series/interest-rate/{indicator}":{"get":{"operationId":"SeriesController_interestRateHistory","parameters":[{"name":"indicator","required":true,"in":"path","schema":{"type":"string"}},{"name":"days","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"summary":"Indicator history (e.g. wibor-3m, nbp_rate, polstr-3m)","tags":["Time series"]}},"/v1/series/cpi":{"get":{"operationId":"SeriesController_cpi","parameters":[{"name":"type","required":true,"in":"query","schema":{"type":"string"}},{"name":"limit","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"summary":"CPI inflation: type=monthly|yearly, limit (for monthly)","tags":["Time series"]}},"/v1/series/fx":{"get":{"operationId":"SeriesController_fxTable","parameters":[],"responses":{"200":{"description":""}},"summary":"Table of current NBP currency rates","tags":["Time series"]}},"/v1/series/fx/{code}":{"get":{"operationId":"SeriesController_fxHistory","parameters":[{"name":"code","required":true,"in":"path","schema":{"type":"string"}},{"name":"days","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"summary":"Currency rate history (e.g. EUR, USD, CHF)","tags":["Time series"]}},"/v1/series/housing":{"get":{"operationId":"SeriesController_housingList","parameters":[],"responses":{"200":{"description":""}},"summary":"List of cities with NBP BaRN housing prices","tags":["Time series"]}},"/v1/series/housing/{city}":{"get":{"operationId":"SeriesController_housingCity","parameters":[{"name":"city","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"summary":"Housing price history for a city (e.g. warszawa, krakow)","tags":["Time series"]}},"/v1/bonds":{"get":{"operationId":"ReferenceController_bonds","parameters":[],"responses":{"200":{"description":""}},"summary":"Interest rates of retail government bonds (Ministry of Finance)","tags":["Reference data"]}},"/v1/wages":{"get":{"operationId":"ReferenceController_wages","parameters":[],"responses":{"200":{"description":""}},"summary":"Median and percentile wages + provincial averages (GUS)","tags":["Reference data"]}},"/v1/legal-limits":{"get":{"operationId":"ReferenceController_legalLimits","parameters":[],"responses":{"200":{"description":""}},"summary":"IKE/IKZE legal limits and related values (updated annually)","tags":["Reference data"]}},"/v1/index":{"get":{"operationId":"IndicesController_list","parameters":[],"responses":{"200":{"description":""}},"summary":"List of all finwire indicators (barometers + credit stress map)","tags":["finwire indicators"]}},"/v1/index/credit-stress":{"get":{"operationId":"IndicesController_creditStress","parameters":[],"responses":{"200":{"description":""}},"summary":"Credit stress map: installment as % of wage across 16 provinces","tags":["finwire indicators"]}},"/v1/index/{slug}":{"get":{"operationId":"IndicesController_index","parameters":[{"name":"slug","required":true,"in":"path","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"summary":"finwire indicator: real-deposit-rate | housing-affordability | credit-cost | borrowing-power | purchasing-power","tags":["finwire indicators"]}},"/v1/market/deposit-rates":{"get":{"operationId":"MarketController_depositRates","parameters":[{"name":"amount","required":true,"in":"query","schema":{"type":"string"}},{"name":"period","required":true,"in":"query","schema":{"type":"string"}},{"name":"currency","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"summary":"Median and percentile term deposit rates (aggregate, no offers)","tags":["Market aggregates"]}},"/v1/market/savings-rates":{"get":{"operationId":"MarketController_savingsRates","parameters":[{"name":"amount","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"summary":"Median and percentile savings account rates (aggregate)","tags":["Market aggregates"]}},"/v1/market/mortgage-rates":{"get":{"operationId":"MarketController_mortgageRates","parameters":[{"name":"amount","required":true,"in":"query","schema":{"type":"string"}},{"name":"period","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"summary":"Median APRC, margin and nominal mortgage rates (aggregate)","tags":["Market aggregates"]}},"/v1/market/cash-loan-rates":{"get":{"operationId":"MarketController_cashLoanRates","parameters":[{"name":"amount","required":true,"in":"query","schema":{"type":"string"}},{"name":"period","required":true,"in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":""}},"summary":"Median APRC and nominal cash loan rates (aggregate)","tags":["Market aggregates"]}},"/v1/snapshot":{"get":{"operationId":"SnapshotController_snapshot","parameters":[],"responses":{"200":{"description":""}},"summary":"Combined market state: rates, inflation, FX, credit stress, barometers","tags":["Snapshot"]}}},"info":{"title":"finwire.pl - Public financial data API","description":"Open API: NBP rates, WIBOR/POLSTR, CPI inflation, FX rates, NBP BaRN housing prices, GUS wages, government bonds and finwire indicators (credit stress map, barometers). Cite as: Source: finwire.pl, https://public-api.finwire.pl","version":"1.0","contact":{"name":"finwire.pl","url":"https://finwire.pl","email":"kontakt@finwire.pl"},"license":{"name":"CC BY 4.0","url":"https://creativecommons.org/licenses/by/4.0/"}},"tags":[],"servers":[{"url":"https://public-api.finwire.pl"}],"components":{"schemas":{}}}